.login_img_section {
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),
        url('/images/background.jpg') center center;
    background-size: cover;
}

img.icon {
    width: 24px;
    height: 24px;
}


.register_img_section {
    background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),
    url('/images/background.jpg') center center;
    background-size: cover;
}

